# This file lists the necessary Python library dependencies for the project.
# These libraries are required for the proper functioning of the project's scripts,
# including interactions with the Zabbix API, making HTTP requests, and handling URLs.

# Zabbix API library for Python
py-zabbix==1.1.7

# Library for making HTTP requests
requests==2.31.0

# HTTP client library used by requests
urllib3==2.0.4